$BorderBottomPrimaire: hsl(7, 99%, 70%);
$BorderBottomSecondary: hsl(51, 100%, 49%);
$TextConceptionGraphique: hsl(167, 40%, 24%);
$TextPhotographique: hsl(198, 62%, 26%);
$PiedDePage: #90D4C6;

$NeutreColorUn: hsl(212, 27%, 19%);
$NeutreColorDeux: hsl(213, 9%, 39%);
$NeutreColorTrois: hsl(232, 10%, 55%);
$NeutreColorQuatre: hsl(210, 4%, 67%);
$NeutreColorCinq: hsl(0, 0%, 100%);

$screensize: "375px";



