
@mixin media-maxwidth($screensize){
    @media (max-width:$screensize) {
       @content;
     }
 }

@mixin PaddingPhotoProfil() {
        padding-bottom: 10%;
        padding-left: 13%;
        padding-right: 5%;
        padding-top: 3%;
 }